.bg-petroleo {
    background-color: #215169 !important;
    color: #fff !important;
}

.bg-petroleo a {
    color: #dbe9f0 !important;
}

.bg-petroleo a:hover {
    color: #ffffff !important;
    background-color: #1b4357 !important;
}

.btn-toggle {
    color: #fff !important;
}

.btn-toggle:hover {
    background-color: #1b4357 !important;
}

.link-body-emphasis {
    color: #fff !important;
}

.dropdown-menu {
    background-color: #215169 !important;
    color: #fff !important;
}

.dropdown-menu a.dropdown-item {
    color: #fff !important;
}

.dropdown-menu a.dropdown-item:hover {
    background-color: #1b4357 !important;
}

    .cart-container {
        background: #ffffff;
        border-radius: 12px;
        padding: 25px;
        box-shadow: 0 4px 18px rgba(0,0,0,0.08);
    }

    .cart-table th {
        background: #f8f9fa;
        font-weight: 600;
    }

    .cart-product-img {
        width: 65px;
        height: 65px;
        object-fit: cover;
        border-radius: 8px;
        border: 1px solid #ddd;
    }

    .cart-title {
        font-size: 28px;
        font-weight: 700;
        color: #333;
    }

    .total-box {
        background: #f1f8ff;
        padding: 15px;
        border-radius: 10px;
        border-left: 5px solid #0d6efd;
        font-size: 20px;
        font-weight: 600;
        color: #0d6efd;
    }

    .btn-remove {
        transition: .2s;
    }

    .btn-remove:hover {
        transform: scale(1.1);
    }